body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:black ;
  color: white;
  text-align: center;
}

a {
  color: cornflowerblue;
  text-decoration: none;
  padding: 5px;
}

